/* hello */
#hello {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

#hello h1 {
  font-size: 45px;
  font-weight: 600;
  color: #319795;
}

#hello h2 {
  color: #c0c0c0;
  font-weight: 400;
}

/* nt-title */

#nt-title li {
  list-style: none;
}
#nt-title li div {
  font-size: 28px;
  color: #4e4e4e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
