/* nt-example2 */

#nt-example2 {
  max-width: 620px;
  margin: auto;
}

#nt-example2-container {
  text-align: center;
  margin-top: 107px;
  margin-bottom: 40px;
  height: 300px;
}

#nt-example2-container i {
  font-size: 24px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#nt-example2-container i:hover {
  color: #333;
}

#nt-example2 li {
  color: #f2f2f2;
  background: #319795;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  padding: 10px 16px 10px 16px;
  line-height: 40px;
  list-style: none;
  font-size: 24px;
  text-align: left;
}

#nt-example2 li div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nt-example2 li div .state {
  font-size: inherit;
  margin: 0;
}

#nt-example2 span.hour {
  font-weight: 700;
}

#nt-example2-infos-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 16px 15px;
  border-color: transparent transparent #319795 transparent;
  margin: 6px auto 0;
}

#nt-example2-infos {
  max-width: 620px;
  margin: auto;
  padding: 12px;
  color: #f2f2f2;
  background: #319795;
}

#nt-example2-infos .infos-hour {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
}

#nt-example2-infos h4 {
  color: #f2f2f2;
  font-weight: 500;
}

#nt-example2-infos .infos-text {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
